<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EFILoginHiDPI</key>
	<data>
	AAAAAA==
	</data>
	<key>EmuVariableUefiPresent</key>
	<data>
	WWVz
	</data>
	<key>IONVRAM-SYNCNOW-PROPERTY</key>
	<data>
	SU9OVlJBTS1TWU5DTk9XLVBST1BFUlRZ
	</data>
	<key>LocationServicesEnabled</key>
	<data>
	AQ==
	</data>
	<key>SystemAudioVolume</key>
	<data>
	RQ==
	</data>
	<key>SystemAudioVolumeDB</key>
	<data>
	+w==
	</data>
	<key>backlight-level</key>
	<data>
	ZgU=
	</data>
	<key>bluetoothActiveControllerInfo</key>
	<data>
	KgqHgAAAAABwFFj7hLsY5A==
	</data>
	<key>csr-active-config</key>
	<data>
	ZwAAAA==
	</data>
	<key>efi-backup-boot-device</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPjAyRUY0N0U3LTJD
	NUEtNEVFOC1BNEZDLTNEMkFBRUMwQjhDRjwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PC9k
	aWN0PjwvYXJyYXk+
	</data>
	<key>efi-backup-boot-device-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAAXAxIKAAAAAAAAAAQBKgACAAAAKEAGAAAAAABg9t03AAAA
	AOdH7wJaLOhOpPw9Kq7AuM8CAn//BAA=
	</data>
	<key>fakesmc-key-#KEY-ui32</key>
	<data>
	AAAAEQ==
	</data>
	<key>fakesmc-key-$Adr-ui32</key>
	<data>
	AAADAA==
	</data>
	<key>fakesmc-key-$Num-ui8</key>
	<data>
	AQ==
	</data>
	<key>fakesmc-key-BATP-flag</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-BBIN-ui8</key>
	<data>
	AQ==
	</data>
	<key>fakesmc-key-BEMB-flag</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-BNum-ui8</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-EPCI-ui32</key>
	<data>
	B6AHAA==
	</data>
	<key>fakesmc-key-MSAc-ui16</key>
	<data>
	AAA=
	</data>
	<key>fakesmc-key-MSFW-ui8</key>
	<data>
	AQA=
	</data>
	<key>fakesmc-key-MSPS-ui16</key>
	<data>
	AAM=
	</data>
	<key>fakesmc-key-MSTc-ui8</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-MSWr-ui8</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-RBr -ch8*</key>
	<data>
	ajE2ajE3AAA=
	</data>
	<key>fakesmc-key-REV -ch8*</key>
	<data>
	AhUPAAAH
	</data>
	<key>fakesmc-key-RMde-char</key>
	<data>
	QQ==
	</data>
	<key>fakesmc-key-RPlt-ch8*</key>
	<data>
	ajE3AGEAAAA=
	</data>
	<key>flagstate</key>
	<data>
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=
	</data>
	<key>fmm-computer-name</key>
	<data>
	TWVydOKAmXMgTWFjQm9vayBQcm8=
	</data>
	<key>prev-lang:kbd</key>
	<data>
	ZW46MjUy
	</data>
	<key>security-mode</key>
	<string>none</string>
	<key>specialbootdevice</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAAXAxIKAAAAAAAAAAQBKgACAAAAKEAGAAAAAABg9t03AAAA
	AD4FzcPCXdNArAfIHyARBVwCAgQDJAD3/HS+fAvzSZFHAfQELmhCxfjMgcGZM0qyzxD4
	vg5RvX//BAA=
	</data>
</dict>
</plist>